/slit/slit-ejb/build/
/slit/slit-ejb/dist/
/slit/slit-ejb/nbproject/private/
/Old project/slit-client/build/
/Old project/slit-client/dist/
/Old project/slit-client/nbproject/private/
/Old project/slit/build/
/Old project/slit/dist/
/Old project/slit/nbproject/private/
/Old project/slit/slit-ejb/build/
/Old project/slit/slit-ejb/dist/
/Old project/slit/slit-ejb/nbproject/private/
/Old project/slit-lib/build/
/Old project/slit-lib/dist/
/Old project/slit-lib/nbproject/private/
/Modules/build/
/Modules/dist/
/Modules/nbproject/private/
/Old project/Modules/build/
/Old project/Modules/dist/
/Old project/Modules/nbproject/private/